<html>
	<head>
		<title>Gestion des ateliers</title>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
	</head>
	<body>
		<div class="workshops-options">
			<div class="workshop-btn"><a href="new_workshop.html">Ajouter un atelier<a></a></div>
		</div>
		<div class="workshops-list">
			<ul>
				<li>
					<div class="workshop-code">45487</div>
					<div class="workshop-name">Dockercon</div>
					<div class="workshop-subject">Docker</div>
					<div class="workshop-laboratory">LABRI</div>
					<div class="workshop-animator">Davic D</div>
					<div class="workshop-hours">15:00</div>
					<div class="workshop-location">Paris</div>
					<div class="workshop-description">Cloud bla bla</div>
					<div class="workshop-option-update"><a href="#">Modifier</a></div>
					<div class="workshop-option-delete"><a href="#">Supprimer</a></div>
				</li>
				<li>
					<div class="workshop-code">45487</div>
					<div class="workshop-name">Dockercon</div>
					<div class="workshop-subject">Docker</div>
					<div class="workshop-laboratory">LABRI</div>
					<div class="workshop-animator">Davic D</div>
					<div class="workshop-hours">15:00</div>
					<div class="workshop-location">Paris</div>
					<div class="workshop-description">Cloud bla bla</div>
					<div class="workshop-option-update"><a href="#">Modifier</a></div>
					<div class="workshop-option-delete"><a href="#">Supprimer</a></div>
				</li>
				<li>
					<div class="workshop-code">45487</div>
					<div class="workshop-name">Dockercon</div>
					<div class="workshop-subject">Docker</div>
					<div class="workshop-laboratory">LABRI</div>
					<div class="workshop-animator">Davic D</div>
					<div class="workshop-hours">15:00</div>
					<div class="workshop-location">Paris</div>
					<div class="workshop-description">Cloud bla bla</div>
					<div class="workshop-option-update"><a href="#">Modifier</a></div>
					<div class="workshop-option-delete"><a href="#">Supprimer</a></div>
				</li>
			</ul>
		</div>
	</body>
</html>