@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

*{
  margin:0;
  padding:0;
}

body,html{
   height:100%;
}

.workshops-options{
	width:900px;
	height:30px;
	margin:0 auto;
	margin-top: 10px;
}

.workshop-btn{
	float:right;
	width:200px;
	height:25px;
	background: #F44336;
	border:1px #212121 solid;
	font-family: Roboto;
	color: #FFF;
	line-height:25px;
	text-align:center;
	border-radius:5px;
}

.workshop-btn a{
	color:#FFF;
	text-decoration: none;	
}

.workshops-list{
	width:900px;
	height:400px;
	margin: 0 auto;
}

.workshops-list ul{
	width:100%;
	display: inline;
}

.workshops-list ul li{
	width:100%;
	display:block;
	height:40px;
	margin-bottom:5px;
	background: #727272;
	color:#FFF;
	border:1px #212121 solid;
	font-family: Roboto;
}

.workshop-code{
	float:left;
	width:50px;
	height:40px;
	line-height:40px;
	text-align:center;
}

.workshop-name{
	float:left;
	width:150px;
	line-height:40px;
	text-align:center;
}

.workshop-subject{
	float:left;
	width:100px;
	text-align:center;
	line-height:40px;
}

.workshop-laboratory{
	float:left;
	width:100px;
	text-align:center;
	line-height:40px;
}

.workshop-animator{
	float:left;
	width:100px;
	text-align:center;
	line-height:40px;
}

.workshop-hours{
	float:left;
	width:70px;
	text-align:center;
	line-height:40px;
}

.workshop-location{
	float:left;
	width:80px;
	text-align:center;
	line-height:40px;
}

.workshop-description{
	float:left;
	line-height:40px;
	text-align:center;
}

.workshop-option-update{
	float:left;
	line-height:40px;
	text-align:center;
	width:75px;
	background:#F44336;
}

.workshop-option-update a{
	color:#FFF;
	font-family:Roboto;
}
.workshop-option-delete{
	float:left;
	width:82.5px;
	line-height:40px;
	text-align:center;
	background:#03A9F4;

}

.workshop-option-delete a{
	color:#FFF;
	font-family:Roboto;
}