@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}

*{
  margin:0;
  padding:0;
}

body,html{
   height:100%;
}

.workshops-options{
	margin-left:138px;
	margin-right:138px;
	height:40px;
	margin-top: 10px;
	margin-bottom:5px;
}

.workshop-btn{
	float:right;
	width:200px;
	height:40px;
	background: #F44336;
	border:1px #212121 solid;
	font-family: Roboto;
	color: #FFF;
	font-weight:bolder;
	line-height:40px;
	text-align:center;
	border-radius:5px;
}

.workshop-btn a{
	color:#FFF;
	font-size:13px;	
}

.workshops-list{
	height:400px;
	margin-left:138px;
	margin-right:138px;
}

.workshops-list ul{
	width:100%;
	display: inline;
}

.workshops-list ul li{
	width:100%;
	display:block;
	height:40px;
	margin-bottom:5px;
	font-size:13px;
	background: #727272;
	color:#FFF;
	border:1px #212121 solid;
	font-family: Roboto;
	border-radius:5px;
}

.workshops-list ul li:first-child{
	background:#788;
}

.workshop-code{
	float:left;
	width:50px;
	height:40px;
	line-height:40px;
	text-align:center;
}

.workshop-name{
	float:left;
	width:150px;
	line-height:40px;
	text-align:center;
}

.workshop-subject{
	float:left;
	width:100px;
	text-align:center;
	line-height:40px;
}

.workshop-laboratory{
	float:left;
	width:100px;
	text-align:center;
	line-height:40px;
}

.workshop-animator{
	float:left;
	width:100px;
	text-align:center;
	line-height:40px;
}

.workshop-hours{
	float:left;
	width:70px;
	text-align:center;
	line-height:40px;
}

.workshop-location{
	float:left;
	width:80px;
	text-align:center;
	line-height:40px;
}

.workshop-description{
	float:left;
	width:214px;
	font-size:13px;
	line-height:40px;
	text-align:center;
}

.workshop-location a,
.workshop-code a,
.workshop-name a,
.workshop-subject a,
.workshop-animator a,
.workshop-option a,
.workshop-hours a,
.workshop-laboratory a,
.workshop-description a{
	text-decoration:none;
	font-weight:bolder;
	color:#FFF;
}

.workshop-option-update{
	float:left;
	line-height:40px;
	text-align:center;
	width:75px;
	background:#F44336;
}

.workshop-option-update a{
	color:#FFF;
	font-family:Roboto;
}
.workshop-option-delete{
	float:left;
	width:82.5px;
	line-height:40px;
	text-align:center;
	background:#03A9F4;

}

.workshop-option-delete a{
	color:#FFF;
	font-family:Roboto;
}


.workshop-form{
	width:700px;
	margin-left:20px;
	margin-top:20px;
}

.workshop-label{
	float:left;
	width:100%;
	font-family:Roboto;
	margin-bottom:5px;
	text-align:left;
}

.workshop-input{
	width:200px;
	height:25px;
	border-radius:5px;
	padding:5px;
	font-family:Roboto;
	margin-bottom:10px;
}

.workshop-area{
	width:200px;
	border-radius:5px;
	padding:5px;
	font-family:Rpboto;
	margin-bottom:10px;
}

.workshop-btn-add{
	width:200px;
	border:1px #000 solid;
	border-radius:5px;
	font-family:roboto;
	height:25px;
}

.workshop-option{
	line-height:40px;
	font-family:Roboto;
	text-align:center;
}	
